<div class="image-grid">
  <div class="image-grid__item">
    <figure class="post">
      <div class="post__frame">
        <img src="{{ model.img }}" alt="">
      </div>
      <figcaption>a title goes here</figcaption>
      <p>{{ model.title }}</p>
    </figure>
  </div>
</div>


{{outlet}}
